@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');
@import url('https://webfontworld.github.io/tmon/Tmon.css');
@import url('https://webfontworld.github.io/Noto/NotoSansKR.css');

@font-face {
    font-family: 'EF_MACHO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    border: none;
    font-family: 'Jalnan';
}
button {
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    cursor: default;
}
body {
    width: 100%;
    margin: 0 auto;
}
a {
    cursor: pointer;
}
.wrap {
    height: 100vh;
}

.pagew {
    width: 80vw;
    margin: 0 auto;
}

/* main */
.navbar {
    background-color: #3283f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.navbar a {
    color: white;
    font-size: 38px;
}

.is-sparta {
    color: #3283f9 !important;
}

.button.is-sparta {
    background-color: #3283f9;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #3283f9;
    color: #3283f9 !important;
}

.help {
    color: gray;
}

.right-container button {
    background-color: transparent;
    margin: 0 40px;
    font-family: 'Jalnan';
    font-size: 18px;
    color: whitesmoke;
}

.right-container button:hover {
    color: black;
}

.home {
    text-align: center;
    height: 80vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    margin: 50px 0;
}

.title-container h1 {
    margin: 20px 0;
}

.first-title {
    font-size: 80px;
}

.second-title {
    font-size: 60px;
    color: #3283f9;
}

.background-image {
    width: 400px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: #3283f9;
    width: 500px;
    padding: 20px;
    font-size: 32px;
    border-radius: 12px;
    cursor: pointer;
}

.start p {
    color: white;
}

/* quiz */
#nav {
    background-color: #3283f9;
}
.quiz {
    background: no-repeat center;
    width: 100%;
    height: 100vh;
    background-position-y: 75%;
    background-size: 30%;
}

.quiz-input {
    border: 1px solid #000;
    width: 30%;
    height: 10%;
    margin: 1rem 0;
    text-align: center;
}

.timer-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

.timer {
    font-size: 1.5rem;
    font-family: 'EF_MACHO';
}

.quiz-box {
    width: 100%;
    height: 300px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.quiz-title {
    font-size: 2rem;
    padding: 1rem;
}

.question {
    line-height: 1.5rem;
}

.answer {
}

.quiz-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: none;
}

.quiz-modal-cont {
    width: 50vw;
    height: 50vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.quiz-modal-cont p {
    font-size: 3rem;
    cursor: default;
}

.quiz-modal-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
}

.quiz-modal-button button {
    margin: 1rem;
    font-size: 1.2rem;
    background-color: #3283f9;
    padding: 0.5rem 2rem;
    color: #fff;
    cursor: pointer;
}

.quiz-modal-button button:hover {
    background-color: #1c55ad;
}

/* ranking */
#ranking {
    margin-top: 2rem;
    text-align: center;
}

#ranking > .pagew {
    display: flex;
    flex-display: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.ranking-box {
    width: 80%;
}

.ranking-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ranking-menu > li {
    width: 40%;
    background-color: #3283f9;
    padding: 1rem;
    color: #fff;
}

.ranking-menu > li:first-child {
    width: 20%;
}

.ranking-cont {

}

.ranking-cont > li {
    background-color: #e5efff;
}

.ranking-cont > li:nth-child(2n) {
    background-color: #b6d0ff;
}

.ranking-user-cont {
    display: flex;
    flex-display: row;
    justify-content: space-around;
}

.ranking-user-cont li {
    width: 40%;
    padding: 1rem;
}

.ranking-user-cont li:first-child {
    width: 20%;
}

.ranking-review-modal {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5efff;
}

/* job */

        .right-container button {
            background-color: transparent;
            margin: 0 40px;
            font-family: 'Jalnan';
            font-size: 18px;
            color: whitesmoke;
        }

        .right-container button:hover {
            color: black;
        }
        .box {
            margin: 30px 50px;
        }

        .speciality_button {
            margin: 30px 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

        }
        .speciality_button >{
            padding: 20px;
        }


        .is-hidden {
            display: none !important;
        }



@media all and (max-width: 1000px) {
    .quiz-modal {
        width: 800px;
    }

    .quiz-modal-cont p {
        font-size: 2rem;
    }

    .quiz-modal-button button {
        padding: 1rem;
        margin: 0.2rem;
    }
}
