@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');
@import url('https://webfontworld.github.io/tmon/Tmon.css');
@import url('https://webfontworld.github.io/Noto/NotoSansKR.css');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jalnan';
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar {
  background-color: #3283f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.navbar a {
  color: white;
  font-size: 38px;
}

.right-container button {
  background-color: transparent;
  margin: 0 40px;
  font-family: 'Jalnan';
  font-size: 18px;
  color: whitesmoke;
}

.right-container button:hover {
  color: black;
}

.home {
  text-align: center;
}

.title-container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-container h1 {
  margin: 20px 0;
}

.first-title {
  font-size: 80px;
}

.second-title {
  font-size: 60px;
  color: #3283f9;
}

.background-image {
  width: 400px;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  background-color: #3283f9;
  width: 500px;
  padding: 20px;
  font-size: 32px;
  border-radius: 12px;
}

.start a {
  color: white;
}