<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sign Up page</title>
    <link rel="stylesheet" href="/static/css/index.style.css"/>
</head>

<script>

    function logout(){
        document.cookie = "mytoken" + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        window.location.reload()
    }

</script>
<body>
<nav class="navbar">
    <a class="title">백수 탈출</a>
    <div class="right-container">
        <button class="login-btn" onclick="logout()">로그아웃</button>

        <button class="ranking-btn">랭킹</button>
    </div>
</nav>
<div class="home">
    <section class="title-container">
        <h1 class="first-title">백수</h1>
        <h1 class="second-title">탈출 프로젝트!</h1>
        <h3>문제를 다 풀 경우, 취업에 한걸음 다가설 수 있습니다.</h3>
        <p>이 기회 놓치지 마세요!</p>
    </section>
    <section class="description-container">
        <img
                class="background-image"
                src="/static/background-image.png"
                alt="배경이미지"
        />
        <div class="start">
            <a href="/quiz/01">START</a>
        </div>
    </section>
</div>
</body>
</html>