<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>취업공고</title>

    <!-- Bulma CSS 링크 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">





<body>

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>

    </div>
  </article>
</div>

</body>
</html>