<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
    <div class="wrap">
        <nav class="navbar">
          <a class="title">백수 탈출</a>
        </nav>
        <section id="ranking">
            <div class="pagew">
                <div class="ranking-box">
                    <ul class="ranking-menu">
                        <li>순위</li>
                        <li>닉네임</li>
                        <li>시간</li>
                    </ul>
                    <ul class="ranking-cont">
                        <li>
                            <ul class="ranking-user-cont">
                                <li><i class="fa-solid fa-1"></i></li>
                                <li>닉네임</li>
                                <li>시간</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="ranking-user-cont">
                                <li><i class="fa-solid fa-2"></i></li>
                                <li>닉네임</li>
                                <li>시간</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="ranking-user-cont">
                                <li><i class="fa-solid fa-3"></i></li>
                                <li>닉네임</li>
                                <li>시간</li>
                            </ul>
                        </li><li>
                            <ul class="ranking-user-cont">
                                <li><i class="fa-solid fa-4"></i></li>
                                <li>닉네임</li>
                                <li>시간</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ranking-review-modal">
                    <p>내가일등!</p>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://kit.fontawesome.com/416cde6ebe.js" crossorigin="anonymous"></script>
</html>